<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">
    <form autocomplete="off" action="#" th:action="@{/signup}"
          th:object="${user}" method="POST" class="form-horizontal"
          role="form">
        <h2>Sign up!</h2>
        <div class="form-group">
            <div class="col-sm-9">
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="validation-message"></label>
                <input type="text" th:field="*{name}" placeholder="Name"
                       class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9">
                <input type="text" th:field="*{email}" placeholder="Email"
                       class="form-control"/> <label
                    th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                    class="validation-message"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <input type="password" th:field="*{password}"
                       placeholder="Password" class="form-control"/> <label
                    th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                    class="validation-message"></label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </div>
        </div>

        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

        <p>
            Already have an account?
            <a href="login">Log in here!!</a>
        </p>

    </form>
</div>

</body>